<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>buukle</title>
		<link rel="stylesheet" type="text/css" th:href="@{'/layui/css/layui.css'}" />
		<link rel="stylesheet" type="text/css" th:href="@{'/css/admin.css'}" />
	</head>
	<body class="buukle-add-body">
	<!--表单-->
		<form class="layui-form column-content-detail" id="configuresCrudForm">
		<!--hidden area-->
		<input type="hidden" id="id" name="id" th:attr="value =${record?.id}" />
		<div class="layui-tab">

			<div class="layui-form-item">
				基础配置
				<hr/>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="require">*</i>
					名称：
				</label>
				<div class="layui-input-block">
					<input type="text"  name="name" th:attr="value = ${record?.name}" placeholder="名称" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				连接配置
				<hr/>
			</div>

			<div id="datasourcesIdItem" class="layui-form-item">
				<label class="layui-form-label">
					<i class="require">*</i>
					选择连接：
				</label>
				<div class="layui-input-inline">
					<div class="layui-unselect layui-form-select downpanel">
						<div class="layui-select-title">
							<span tabindex="0" id="datasourcesNameSpan" style="padding-top: 10px;" class="layui-input layui-unselect" ></span>
							<input type="hidden" id="datasourcesId" th:attr="value = (${record?.datasourcesId} == 0 ? '' : ${record?.datasourcesId})" name="datasourcesId">
							<input type="hidden" id="datasourcesName" th:attr="value = ${record?.datasourcesName}" name="datasourcesName">
							<i class="layui-edge"></i>
						</div>
						<dl class="layui-anim layui-anim-upbit">
							<dd>
								<ul data-url="/datasources/getDatasources" id="datasourcesTree"></ul>
							</dd>
						</dl>
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="require">*</i>
					表名：
				</label>
				<div id="tablesDiv" class="layui-input-block">
					<div style="float: left;" th:each="table:${record?.tableList}">
						<input type="checkbox" th:attr="checked = ${table?.checked} " name="tables" th:value="${table?.name}" lay-skin="primary" /> <span th:text="${table?.name}"></span> &nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				生成配置
				<hr/>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="require">*</i>
					包前缀名：
				</label>
				<div class="layui-input-block">
					<input type="text"  name="basePackage" th:attr="value = ${record?.basePackage}" placeholder="basePackage" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">
					模块前缀：
				</label>
				<div class="layui-input-block">
					<input type="text"  name="bak01" th:attr="value = ${record?.bak01}" placeholder="例如 : buukle-boss" autocomplete="off" class="layui-input">
					<br/>
					<span style="color: red"> 注 : 如项目为子模块项目,则可填写此项,生成的文件会按照 controller ,dao 等MVC分层,生成到不同的分层文件夹下;如不填写,则生成到统一文件夹下.</span>
					<br/>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="require">*</i>
					选择模板：
				</label>
				<div class="layui-input-block">
					<div style="float: left;" th:each="template:${record?.templatesList}">
						<input type="checkbox" th:attr="checked=${template?.checked}" name="templateIds" th:value="${template?.id}" lay-skin="primary" /> <span th:text="${template?.name}"></span> &nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				本地配置
				<hr/>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="require">*</i>
					本地脚本：
				</label>
				<div class="layui-input-block">
					<textArea style="background-color: black; color: wheat;" rows="6" cols="20" name="dirLocation" th:text="${record?.dirLocation}"
							  placeholder="请输入解压源码包之后,把源码copy进项目结构的脚本" autocomplete="off" class="layui-textarea">
					</textArea>
					<br/>
					<br/>
					<span style="color: red"> 注 : 脚本内容会生成bat脚本文件一并打包到最终的压缩包里,该脚本期望的逻辑实现为--解压源码包之后,执行该脚本,自动将源码copy进正确的项目结构目录中</span>
					<br/>
					<br/>
					<br/>
				</div>
				<div style="color: #8c867c;" class="layui-input-block">
				示例脚本
				</div>
				<div class="layui-input-block">
					<textArea disabled style="background-color: #9292922e; color: #8c867c;" rows="6" cols="20" name="dirLocation"
							  placeholder="请输入解压源码包之后,把源码copy进项目结构的脚本" autocomplete="off" class="layui-textarea">
@echo off
echo "starting copy ..."
echo.
xcopy *.* C:\Users\elvin\Desktop\11\buukle-boss\ /s /e /c /y /h /r
pause
					</textArea>
				</div>

			</div>
			<div class="layui-form-item">
				其他配置
				<hr/>
			</div>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div class="layui-form-item">
						<label class="layui-form-label">备注：</label>
						<div class="layui-input-block">
							<textArea rows="4" cols="20" name="remark" th:text="${record?.remark}" placeholder="remark" autocomplete="off" class="layui-textarea"></textArea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--操作-->
		<div class="layui-form-item" style="padding-left: 10px;">
			<div class="layui-input-block">
				<!-- 自定义权限标签 -->
				<hp url="/configures/saveOrEdit">
					<button id="saveOrEdit" data-url="/configures/saveOrEdit" class="layui-btn layui-btn-normal">提交</button>
				</hp>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				<div id="back" class="layui-btn layui-btn-primary">取消</div>
			</div>
		</div>
	</form>
	<script th:src="@{'/layui/layui.all.js'}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{'/js/common.js'}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{'/plugin/jquery/jquery.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{'/js/jqueryValidate/jquery.validate.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script>
		layui.use(['jquery', 'layer','dialog','tree','form'], function() {
			layer = layui.layer, $ = layui.jquery, dialog = layui.dialog, tree = layui.tree,form = layui.form;
			// 绑定加载连接下拉选择框
			bindDatasourcesLoad(tree);
			// 绑定加载连接名称
			loadDatasourcesFields();
			// 绑定提交
			bindSaveOrEdit();
		});

		/** 绑定连接下拉框加载*/
		function bindDatasourcesLoad(tree) {
			$.ajax({
				url: getContextPath() + $('#datasourcesTree').attr('data-url'),
				method:'post',
				dataType:'json',
				async:true,
				success:function (data) {
					if(data.head.status=="S"){
						renderSelectedTreeWithCallback(tree,data,"#datasourcesTree",'datasourcesId','loadDatasourcesFieldsClick');
					}else{
						layer.msg(data.head.msg);
					}
				}
			})
		}
		/** 绑定连接点击加载*/
		function loadDatasourcesFieldsClick() {
			// 加载连接名称
			loadDatasourcesFields();
			// 加载表名列表
			$.ajax({
				url: getContextPath() + '/datasources/getTables?id='+$('#datasourcesId').val(),
				method:'post',
				dataType:'json',
				async:true,
				success:function (data) {
					if(data.head.status=="S"){
						var html = "";
						for(var i=0;i<data.body.list.length;i++){
							html = html +   ' 	<div style="float: left;">' +
											' 		<input type="checkbox" name="tables" value="' + data.body.list[i] + '" lay-skin="primary" /> ' +
											'       <span> ' + data.body.list[i] +' </span> &nbsp;&nbsp;&nbsp;&nbsp;' +
											' 	</div>';
						}
						$('#tablesDiv').html(html);
						form.render();
					}else{
						$('#tablesDiv').html('');
						form.render();
						layer.msg(data.head.msg);
					}
				}
			})
		}
		/** 绑定连接名称加载*/
		function loadDatasourcesFields() {
			$.ajax({
				url: getContextPath() + '/datasources/datasourcesCrudViewFront?id='+$('#datasourcesId').val(),
				method:'post',
				dataType:'json',
				async:true,
				success:function (data) {
					// console.log(data.body);
					if(data.head.status=="S"){
						$('#datasourcesNameSpan').html(data.body.name);
					}else{
						$('#tablesDiv').html('');
						form.render();
						layer.msg(data.head.msg);
					}
				}
			})
		}
		var  validateLoin = $('#configuresCrudForm').validate({
			rules:{
			},
			messages:{
			}
		});
		/** 绑定提交*/
        function bindSaveOrEdit() {
            $('#saveOrEdit').off().on('click',function () {
                var obj = $(this);
                banThis(obj,"保存中..");
				if(!validateLoin.form()){
					layer.msg("请按规则完成表单填写!");
					releaseThis(obj,"提交");
					return;
				}
                $.ajax({
					url:getContextPath() + obj.attr("data-url"),
					method:"post",
					dataType:"json",
					data:$('#configuresCrudForm').serialize(),
					success:function (data) {
						if(data.head.status == 'S'){
                            banThis(obj,"完成");
						    layer.msg('操作完成,3秒后将返回列表页...');
                            window.parent.refresh();
						    setTimeout(function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            },3000)
						}else{
                            layer.msg(data.head.msg);
                            releaseThis(obj,"提交");
						}
                    }
				})
            })
        }
	</script>
	</body>
</html>