<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<table class="layui-table" lay-even lay-skin="nob">
	<thead>
	<tr>
		<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
		<th class="hidden-xs">ID</th>
		<th class="hidden-xs">名称</th>
		<th class="hidden-xs">创建者</th>
		<th class="hidden-xs">创建时间</th>
		<th class="hidden-xs">状态</th>
		<th>操作</th>
	</tr>
	</thead>
		<tbody id="tbody-templates">
		<tr th:each="templatesRecord:${response?.body?.list}">
			<td><input type="checkbox" name="batchCheckBox" lay-skin="primary" th:attr="data-id = ${templatesRecord?.id}"  /></td>
			<td th:text="${templatesRecord?.id}" class="hidden-xs"></td>
			<td th:text="${templatesRecord?.name}" class="hidden-xs"></td>
			<td th:text="${templatesRecord?.creator}" class="hidden-xs"></td>
			<td th:text="${#dates.format(templatesRecord?.gmtCreated,'yyyy-MM-dd HH:mm:ss')}" class="hidden-xs"></td>
			<td th:switch="${templatesRecord?.status}">
				<button th:case="0" class="layui-btn layui-btn-xs layui-btn-danger" > 创建完成</button>
				<button th:case="1" class="layui-btn layui-btn-xs layui-btn-normal" > 审核中</button>
				<button th:case="2" class="layui-btn layui-btn-xs layui-btn-default"> 停用</button>
				<button th:case="3" class="layui-btn layui-btn-xs layui-btn-default"> 正常</button>
				<button th:case="*" class="layui-btn layui-btn-xs layui-btn-unknown"> 未知</button>
			</td>
			<td>
				<div class="layui-inline">
					<hp url="/templates/templatesCrudView">
						<div class="layui-btn layui-btn-sm layui-btn-normal editBigBtn" th:attr="data-id = ${templatesRecord?.id}" data-url="/templates/templatesCrudView"><i class="layui-icon">&#xe642;</i></div>
					</hp>
					<hp url="/templates/templatesCrudJson">
						<div class="layui-btn layui-btn-sm layui-btn-danger delOneBtn" th:attr="data-id = ${templatesRecord?.id}" data-url="/templates/templatesCrudJson"><i class="layui-icon">&#xe640;</i></div>
                    </hp>
				</div>
			</td>
		</tr>
	</tbody>
	<input type="hidden" id="page" th:attr="value=${response?.body.pageNo}" />
	<input type="hidden" id="totalPage" th:attr="value=${response?.body.totalPage}" />
	<input type="hidden" id="total" th:attr="value=${response?.body.total}" />
</table>


