<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>buukle · 脚手架服务</title>
		<link rel="icon" href="../../static/favicon.ico">
		<link rel="stylesheet" type="text/css" th:href="@{'/layui/css/layui.css'}" />
		<link rel="stylesheet" type="text/css" th:href="@{'/css/admin.css'}"/>
	</head>
	<body>
		<div class="main-layout" id='main-layout'>
			<!--侧边栏-->
			<div class="main-layout-side" style="width: 225px!important;">
					<div class="m-logo" style="border-bottom: solid 1px #c7cad11a;background-color: white;">
						<img data-v-bd2e58c2="" src="/generator/images/logo.buukle.png" alt="logo" class="logoimg" style="
							display: inline-block;
							vertical-align: middle;
							/* width: 86px; */
							margin-left: 24px;
							height: 32px;
							margin-top: 17px;
						">
						<span data-v-bd2e58c2="" style="
							margin-top: 25px;
							display: inline-block;
							margin-left: 5px;
							vertical-align: -12%;
							color: #666;
							letter-spacing: .15rem;
							font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
							font-weight: 600;
							font-size: 14px;

						"></span>
					</div>
				<ul class="layui-nav layui-nav-tree" style="width: 225px " lay-filter="leftNav">
					<li class="layui-nav-item layui-nav-itemed">
						<a href="javascript:;" data-url="/datasources/datasourcesHome" data-id="1932" data-text="连接管理">
							<i class="iconfont"></i>
							<span data-text="连接管理">连接管理</span>
						</a>
					</li>
					<li class="layui-nav-item layui-nav-itemed">
						<a href="javascript:;" data-url="/templates/templatesHome" data-id="1933" data-text="模板管理">
							<i class="iconfont"></i>
							<span data-text="模板管理">模板管理</span>
						</a>
					</li>
					<li class="layui-nav-item layui-nav-itemed">
						<a href="javascript:;" data-url="/configures/configuresHome" data-id="1934" data-text="配置管理">
							<i class="iconfont"></i>
							<span data-text="配置管理">配置管理</span>
						</a>
					</li>
					<li class="layui-nav-item layui-nav-itemed layui-this">
						<a href="javascript:;" data-url="/configuresExecute/configuresExecuteHome" data-id="1935" data-text="日志管理">
							<i class="iconfont"></i>
							<span data-text="日志管理">日志管理</span>
						</a>
					</li>
					<span class="layui-nav-bar"></span>
				</ul>
			</div>
			<!--右侧内容-->
			<div class="main-layout-container" style=" ">
				<!--头部-->
				<div class="main-layout-header buukle-them">
					<!--隐藏左侧菜单-->
					<div class="menu-btn" id="hideBtn">
						<a href="javascript:;">
							<span class="iconfont buukle-them-switch">&#xe668;</span>
						</a>
					</div>
					<ul class="layui-nav" lay-filter="rightNav">
						<li class="layui-nav-item">
							<a href="javascript:void(0)">
								<!--<span class="layui-badge">9</span>-->
								<span style="color: black;"> buukle </span>
							</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:void(0)" id="logout">登出</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">
							</a>
						</li>
					</ul>
				</div>
				<!--主体内容 welcome-->
				<div class="main-layout-body">
					<!--tab 切换-->
					<div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
						<ul class="layui-tab-title">
							<li class="layui-this welcome" th:attr="lay-id=-1" th:text="首页"></li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show" style="background: #f5f5f5;">
								<iframe th:attr="src = 'index/welcome'"  width="100%" height="100%" name="iframe" scrolling="auto" class="iframe" framborder="0"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-mask"> </div>
		</div>
		<script th:src="@{'/layui/layui.all.js'}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{'/js/common.js'}"  type="text/javascript" charset="utf-8"></script>
		<script th:src="@{'/js/main.js'}" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.use(['jquery', 'layer','dialog'], function() {
				$ = layui.jquery;
				// 绑定登出
				$('#logout').off().on('click',function (){
					window.location.href=getContextPath() + "/api/v1_0/logout";
				})
				// #号跳转
				var point = GetRequest();
				function GetRequest() {
					var str = location.href
					var num = str.indexOf("#");
					str = str.substr(num + 1);
					return str;
				}
				$('a[data-url|= "'+point+'"]').click();
			});
		</script>
	</body>
</html>